<p>
  <mat-toolbar color="disabled">
    <span appSizeTittle>SIU Guaraná</span>
    <button
      mat-icon-button
      class="example-icon0"
      aria-label="Example icon-button with menu icon0"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span appSizeTittle>Sistema de Gestión Académica </span>
      <span class="example-spacer"> </span>
      <a mat-button routerLink="inicio">Inicio</a>
      <a mat-button routerLink="estudiantes">Lista de Alumnos</a>
      <a mat-button routerLink="cursos">Cursos</a>
      <a mat-button routerLink="profesores">Profesores</a>
      <button mat-icon-button class="example-icon2">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
