
<div class="container py-4 bg-light">

  <div class="row row-cols-4 g-4">
    
    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2012/11/02/13/02/car-63930_960_720.jpg" alt="auto">
        <div class="card-body">
          <h5 class="card-title">Marca Modelo Año</h5>     
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate maxime dolorem illo voluptates.</p>
          <h6 class="card-subtitle text-primary">$ 3.500.000</h6>
        </div>    
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/10/22/17/22/car-498244_960_720.jpg" alt="auto">
        <div class="card-body">
          <h5 class="card-title">Marca Modelo Año</h5>     
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate maxime dolorem illo voluptates.</p>
          <h6 class="card-subtitle text-primary">$ 3.500.000</h6>
        </div>    
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/03/27/14/56/auto-2179220_960_720.jpg" alt="auto">
        <div class="card-body">
          <h5 class="card-title">Marca Modelo Año</h5>     
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate maxime dolorem illo voluptates.</p>
          <h6 class="card-subtitle text-primary">$ 3.500.000</h6>
        </div>     
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/01/19/13/51/car-604019_960_720.jpg" alt="auto">
        <div class="card-body">
          <h5 class="card-title">Marca Modelo Año</h5>     
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate maxime dolorem illo voluptates.</p>
          <h6 class="card-subtitle text-primary">$ 3.500.000</h6>
        </div>    
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/02/22/20/22/bmw-1216469_960_720.jpg" alt="auto">
        <div class="card-body">
          <h5 class="card-title">Marca Modelo Año</h5>     
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate maxime dolorem illo voluptates.</p>
          <h6 class="card-subtitle text-primary">$ 3.500.000</h6>
        </div>     
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/01/18/20/56/auto-3091234_1280.jpg" alt="auto">
        <div class="card-body">
          <h5 class="card-title">Marca Modelo Año</h5>     
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate maxime dolorem illo voluptates.</p>
          <h6 class="card-subtitle text-primary">$ 3.500.000</h6>
        </div>    
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/04/01/12/16/car-1300629_960_720.png" alt="auto">
        <div class="card-body">
          <h5 class="card-title">Marca Modelo Año</h5>     
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate maxime dolorem illo voluptates.</p>
          <h6 class="card-subtitle text-primary">$ 3.500.000</h6>
        </div>    
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/05/28/23/12/auto-788747_960_720.jpg" alt="auto">
        <div class="card-body">
          <h5 class="card-title">Marca Modelo Año</h5>     
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate maxime dolorem illo voluptates.</p>
          <h6 class="card-subtitle text-primary">$ 3.500.000</h6>
        </div>     
      </div>
    </div>

  </div>


</div>

